* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box !important;
}

h1, h2, h3, h4 {
    color: #393939 !important;
}

h2 {
    color: #393939;
    font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

body, p {
	color: #626262 !important;
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    background-image: url(/images/header-background.jpg);
}

.logo {
    width: 120px;
    cursor: pointer;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-content:flex-end;
}

.nav-links > ul > li > a {
    list-style: none;
    display: inline-block;
    /* padding-right: 20px; */
    /* margin-right: 60px; */
}
