* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box !important;
}

h1, h2, h3, h4 {
    color: #393939 !important;
}

h2 {
    color: #393939;
    font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

body, p {
	color: #626262 !important;
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
    padding-top: 50px;
}

.logo {
    width: 100%;
    cursor: pointer;
}

.logo img {
    width: 120px;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
    /* color: #FFF; */
}
