.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #FFF;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #FF5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale();
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
    color: #393939 !important;

}

body, p {
    color: #626262;
    font: 400;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75 linear infinite;
    animation: spinner-border .75 linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2em;
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75 linear infinite;
    animation: spinner-grow .75 linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem;
    text-align: center;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #00BFD8;
    -webkit-animation: sk bouncedelay 1.4s infinite ease-in-out both;
    animation: sk bouncedelay 1.4s infinite ease-in-out both;
}

.navbar-fixed-top.scrolled {
    background-color: #00BFD8 !important;
    transition: background-color 200ms linear;
}

.navbar-nav {
    padding-top: 20px;
    padding-right: 50px;
}

.navbar-nav > .active a {
    color: #00BFD8;
}

.navbar-brand {
    padding-top: 20px;
    padding-left: 50px;
}

.navbar-nav > li {
    padding: 0px 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-menu a {
    color: #393939;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    color: #00BFD8;
    background-color: #FFF;
    border-radius: 6px;
    border-style: none;
}

.line-break {
    margin: 0px 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icons a {
    color: #FFF !important;
    background: #00BFD8;
    width: 32px;
    height: 32px;
    /* line-height: auto; */
    display: inline-block;
    text-align: center !important;
    border-radius: 100%;
    font-size: 15px;
    margin: 3px 3px;
}

.btn {
    background-color: #00BFD8 !important;
    color: #FFF !important;
    border-radius: 25px !important;
}

.intro-head {
    padding-top: 30px !important;
    background-image: url(../images/header-background.jpg);
    width: 100% !important;
    height: 100vh;
    background-size: cover;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px;
    margin-left: -15px;
}

.first-img {
    width: 90% !important;
    margin-left: 40px;
}

.first-head {
    padding-top: 180px;
    /* padding: 60px 0px; */
}

.first-head-text {
    height: 100%;
    display: table;
}

.first-head-text div {
    line-height: 25px;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.first-head-text div h1 {
    color: #393939 !important;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
}

.first-head-text div h1 span {
    color: #00BFD8;
}

.first-head-text div p {
    padding-bottom: 10px;
}

.send {
    color: #FFF;
    font-size: 80%;
    font-weight: bolder;
}

#send {
    background-color: #00BFD8;
    border-radius: 50px;
    padding: 12px 35px;
    border-style: none;
}

#send:hover {
    color: #00BFD8;
    background-color: #FFF;
    border: 2px solid;
}

.services {
    padding: 60px 0px;
}

.card {
    height: 350px;
}

.card-services h3 {
    color: #393939;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body {
    width: 100%;
}

.card-body h4 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px !important;
}

.card-body p {
    /* word-spacing: 0.1rem; */
    line-height: 1.5rem;
    font-stretch: ultra-condensed;
}

/* .card img {
    display: flex !important;
    align-items: center !important;
    justify-items: center !important;    
} */

.service-img {
    width: 100px;
    display: flex;
    justify-items: center !important;
    align-content: center !important;
}

.second-img {
    width: 100%;
    margin-left: 40px;
}

.second-head-text {
    height: 100%;
    display: table;
}

.second-head-text div {
    line-height: 25px;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.second-head-text div h1 {
    color: #393939 !important;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.second-head-text div p {
    line-height: 1.5rem;
    font-stretch: semi-condensed;
    font-size: 15px;
    padding-bottom: 10px;
}

.third-img {
    width: 100%;
}

.third-head-text {
    height: 100%;
    display: table;
    margin-left: 40px;
}

.third-head-text div {
    line-height: 25px;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.third-head-text div h1 {
    color: #393939 !important;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.list-item {
    color: #626262;
    line-height: 1.5rem;
    /* font-stretch: semi-condensed; */
    font-size: 14px;
    /* padding-bottom: 10px; */
}
.third-head-text div ul {
    padding-bottom: 15px;
}

.price-card {
    height: 500px;
    padding: 50px 30px;
    border-radius: 6px;
}

.title, .price, button {
    text-align: center;
}

.price p span {
    color: #00BFD8;
}