@import 'config';
@import 'utilities';

.home {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 30rem;
  
    & .image {
      flex: 1 1 45rem;
  
      & img {
        width: 100%;
      }
    }
  
    & .content {
      flex: 1 1 45rem;
  
      & h2 {
        font-size: 4.2rem;
        color: $black;
        line-height: 1.2;
      }
  
      & p {
        font-size: 1.7rem;
        color: $light-color;
        line-height: 1.8;
        padding: 1rem 0;
      }
    }
  }
