#testimonials {
  background-image: url(../images/testimonials-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 10rem;

  & .image {
    flex: 1 1 45rem;

    & img {
      width: 100%;
    }
  }

  & .test {
    display: inline-flex;
    flex: 1 1 45rem;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    // overflow: hidden;

    & .testimonial-head {
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      

      & h3 {
        // width: 100%;
        position: absolute;
        left: 50%;
        right: 50%;
        font-size: 3rem;
        text-transform: capitalize;
        color: $black;
        // margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        top: -10rem;
        z-index: 100;
      }
    }

    .swiper-slide {

      & .card-text {
        line-height: 1.4rem;
        

        & p {
          line-height: 3rem;
          font-size: 1.2rem;
          color: $text;
        }

        & .testimonial-author {
          padding-top: 2rem;
          font-weight: bold;
        }
      }

      & img {
        width: 30%;
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
