@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

$blue: #00BFD8;
$black: #393939;
$light-color: #777;
$border: 0.2rem solid $blue;
$white: #FFF;
$text: #626262;


.btn {
    color: $white;
    background: $blue;
    padding: 1.3rem 3.4rem;
    border-radius: 3rem;
    text-decoration: none;
    outline: none;
    border: 0.2rem solid $blue;

    &:hover {
        background: $white;
        color: $blue;
    }
}