@import 'config';
@import 'utilities';
@import 'home';
@import 'services';
@import 'servicesOffice';
@import 'pricing';
@import 'form';
@import 'video';
@import 'testimonials';
@import 'about';
@import 'contact';
@import 'footer';



.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    padding: 4rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        display: flex;
        align-items: center;

        & img {
            width: 12rem;
        }
    }

    & .navbar {
        display: flex;
        align-items: center;
        
        & a {
            font-size: 1.2rem;
            color: $white;
            margin: 0 1rem;
            font-weight: 600;
            text-transform: capitalize;

            & i {
                font-size: 1.2rem;
            }
        }

        & .navSocial {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $blue;
            
        }
    }

    & #menu-btn {
        font-size: 4rem;
        border-radius: 0.5rem;
        color: #000;
        padding: 1rem 1.5rem;
        cursor: pointer;
        display: none;
    }

    &.active {
        background: $white;
        // padding: 1.5rem 9%;
        padding: 2rem 7%;
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);

        & .logo {
            display: flex;
            
    
            & img {
                width: 12rem;
                align-items: flex-start;
            }
        }

        & a {
            font-size: 1.2rem;
            color: $black;
            margin: 0 1rem;
            font-weight: 600;

            & i {
                font-size: 1.2rem;
            }
        }

        & .fab {
            padding: 1rem;
            border-radius: 50%;
            color: $white
        }
    }
}


@import 'queries';